body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}
.header {
}
.header-nav {
}
.logo {
  color: var(--NAVY-BLUE, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-studio {
  color: var(--IRIS, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.header-nav-list {
}
.header-nav-list-item {
}
.header-nav-list-item-link {
  color: var(--NAVY-BLUE, #2e2f42);
  /* Body Medium */
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.header-nav-list-item-link:hover,
.header-nav-list-item-link:focus {
  color: var(--OCEAN, #404bbf);
}
.header-adress-item-link {
  color: var(--SLATE, #434455);
  /* Body */
  font-size: 16px;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.header-adress-item-link:hover,
.header-adress-item-link:focus {
  color: var(--OCEAN, #404bbf);
}
.header-adress {
  font-style: normal;
}
.header-adress-list {
}
.header-adress-item {
}
.header-adress-item-link {
}
.business {
  background: var(--NAVY-BLUE, #2e2f42);
}
.business-title {
  color: var(--WHITE, #fff);
  text-align: center;
  /* Header 1 */
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
}
.business-button {
  color: var(--WHITE, #fff);
  /* Button Text */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
  line-height: 1.5;
  background: var(--IRIS, #4d5ae5);
  cursor: pointer;
}
.business-button:hover,
.business-button:focus {
  background: var(--OCEAN, #404bbf);
}
.strategy-company {
  background: #fff;
}
.strategy-company-list {
}
.strategy-company-item {
}
.strategy-company-title {
  color: var(--NAVY-BLUE, #2e2f42);
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.strategy-company-description {
  color: var(--SLATE, #434455);
  /* Body */
  font-size: 16px;
  letter-spacing: 0.32px;
}
.our-team {
  background: #fff;
}
.section-tittle {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.our-team-list {
}
.our-team-item {
}
.our-team-img {
}
.our-team-titles {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.our-team-desc {
  color: var(--SLATE, #434455);
  text-align: center;
  /* Body */
  font-size: 16px;
  letter-spacing: 0.32px;
}
.our-portfolio {
  background: #fff;
}
.our-portfolio-list {
}
.our-portfolio-item {
}
.our-portfolio-img {
}
.our-portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.our-portfolio-position {
  color: var(--SLATE, #434455);
  /* Body */
  font-size: 16px;
  letter-spacing: 0.32px;
}
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
  /* Body */
  font-size: 16px;
  letter-spacing: 0.32px;
}
